html
  head
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
    link(rel="custom" href="../views/custom.css")
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='/main') CoderX-Tokyo
      img(src="https://cdn.glitch.com/b6b24fc4-65e0-481c-9a0f-8d19f5732aaf%2Ffavicon.ico?v=1590645851125")
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='/') Home
          li.nav-item
            a.nav-link(href='/users') User
      block default
      
    